.vive{
  .recommend {
    height: 20vw;
    width: 100%;
    text-align: center;
    overflow: hidden;
    .one {
      margin-top: 7vw;
      font-family: MicrosoftYaHei-Bold;
      font-size: 36px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 3vw;
      letter-spacing: 0vw;
      color: #434343;
    }
    .two {
      margin: 3vw auto 0;
      font-family: MicrosoftYaHeiLight;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 2vw;
      letter-spacing: 0vw;
      color: #434343;
      width: 58vw;
    }
  }
}